* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

body {
    font-family: Itim, cursive;
    background-color: #efb596;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 2.2rem;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

img {
    margin-bottom: 20px;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    background-color: #d95728;
    padding: 10px 20px;
    border-radius: 0px 0px 5px 5px;
    margin: 10px;
    border-top: 3px solid #f18a35;
}

a:hover {
    background-color: #f18a35;
    transition: all 0.3s ease-out;
}