* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3c073;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 2.2rem;
    margin-bottom: 15px;
    font-weight: bold;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    background-color: #ffd966;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
}